* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Spectral SC", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: gray;
  overflow-x: hidden;
}

.videoHeader {
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.videoWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.videoWrap video {
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  padding-top: 12vh;
  position: absolute;
}

.content p {
  color: #b2b2b2;
  font-size: 1.5rem;
  display: block;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #4f301d;
  z-index: 1;
  opacity: 0.8;
}

h1 {
  font-size: 44px;
  padding-bottom: 10px;
  text-shadow: -1px -1px 0 #264273, 1px -1px 0 #264273, -1px 1px 0 #264273,
    1px 1px 0 #264273;
  color: #b2b2b2;
}

.mainBearSharkLogo {
  height: 350px;
  width: 400px;
}
